body {
  padding-top: 70px; }

#bienvenida {
  margin-top: 6em; }

.page-header .accounts-info {
  margin-bottom: 5px; }

form.delete {
  display: inline; }

.dropdown-menu > li > a, .dropdown-menu > li > a:hover {
  color: #000; }

.table > tbody > tr.extreme-danger > td {
  background-color: #c71c22;
  color: #FFFFFF; }

.table-responsive td {
  font-size: 12px; }

.ui-datepicker {
  z-index: 10 !important; }

div#categorias-div {
  height: 450px; }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 30px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-repeat: no-repeat;
  border-top: 1px solid #178acc;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); }
  .footer p {
    text-align: center;
    color: #FFFFFF; }
  .footer a {
    color: #FFFFFF; }

@media (max-width: 768px) {
  #bienvenida {
    margin-top: 2em;
    padding: 15px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .nav > li > a {
    padding: 10px 3px; } }

/*# sourceMappingURL=app.css.map */
